services:
  server:
    build:
      context: ./Sam.CSharp.Ezra.Todo.Server
      dockerfile: Dockerfile
    ports:
      - '5000:8080'
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
    volumes:
      - ./Sam.CSharp.Ezra.Todo.Server/todo.db:/app/todo.db

  client:
    build:
      context: ./Sam.TypeScript.Ezra.Todo.Client
      dockerfile: Dockerfile
    ports:
      - '3000:80'
    depends_on:
      - server
