@import "tailwindcss";

@theme {
  --color-bg: var(--color-bg);
  --color-surface: var(--color-surface);
  --color-surface-alt: var(--color-surface-alt);
  --color-surface-hover: var(--color-surface-hover);

  --color-primary: var(--color-primary);
  --color-primary-fg: var(--color-primary-fg);
  --color-primary-hover: var(--color-primary-hover);

  --color-border: var(--color-border);
  --color-border-strong: var(--color-border-strong);

  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);

  --color-error: var(--color-error);
  --color-error-bg: var(--color-error-bg);
  --color-success: var(--color-success);

  --font-sans: 'Inter', sans-serif;
}

@layer base {
  :root {
    /* Functional Colors (Light Mode) */
    --color-bg: var(--color-slate-100);
    --color-surface: #ffffff;
    --color-surface-alt: var(--color-slate-50);
    --color-surface-hover: var(--color-slate-50);

    --color-border: var(--color-slate-200);
    --color-border-strong: var(--color-slate-300);

    --color-text: var(--color-slate-900);
    --color-text-muted: #57657a;

    --color-primary: var(--color-slate-900);
    --color-primary-fg: #ffffff;
    --color-primary-hover: var(--color-slate-800);

    --color-error: #ef4444;
    --color-error-bg: #fef2f2;
    --color-success: #10b981;
  }

  [data-theme='dark'] {
    --color-bg: var(--color-slate-950);
    --color-surface: var(--color-slate-900);
    --color-surface-alt: var(--color-slate-800);
    --color-surface-hover: var(--color-slate-800);

    --color-border: var(--color-slate-800);
    --color-border-strong: var(--color-slate-700);

    --color-text: var(--color-slate-50);
    --color-text-muted: #94a3b8;

    --color-primary: var(--color-slate-50);
    --color-primary-fg: var(--color-slate-950);
    --color-primary-hover: var(--color-slate-200);

    --color-error: #f87171;
    --color-error-bg: #450a0a;
  }
}

@layer base {
  body {
    @apply bg-bg text-text antialiased;
  }
}
